*{

    margin:0;
    padding:0;
    font-family: 'Righteous', cursive;

}

html {
    scroll-behavior: smooth;
 }
 .macaco{
     color: #00171F;
 }
.center{

    max-width:1100px;
    margin: 0 auto;
    padding: 0 2%;
    display:flex;
    flex-wrap:wrap;

}
.menuMobile{
    display:none;
}

header{

    background-color: rgb(0, 0, 0);
    padding:20px 0;
    border-bottom: 1px solid rgb(48, 48, 48);
    position: sticky;
    top:0;
    
    
}

.logo{
    color:#ffffff;

}

.logo h2{
    font-weight: normal;
    font-size:22px;
}

.menu{
    width:80%;
    text-align: right;
}
.menu a{
    color:#ffffff;
    font-size:14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color:#F9EDB7;
}

.menu .btnMenu{

    background-color: #F9EDB7;
    display:inline-block;
    padding: 8px 16px;
    color:rgb(0, 0, 0);
    border-radius:6px;
}
.menu .btnMenu:hover{
    background-color: #978638;
    color:white;
}

/*
Section Main
*/

section.main{
    background-image: url("img/section-bg.png");
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainCta{
    width: 100%;
    margin:60px 0;
    text-align: center;

}
.mainCta h2{
    color:#ffffff;
    font-size:40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
}

.mainCta p{
    color:rgb(255, 255, 255);
    font-size:19px;
    margin:10px 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
    margin-top:25px;
    
}

.mainCta button{
    background-color: #F9EDB7;
    display:inline-block;
    padding: 8px 30px;
    color:rgb(0, 0, 0);
    border-radius:6px;
    font-size:16px;
    border:0;
    cursor:pointer;
    margin-top:25px;
    box-shadow:0px 4px 10px  rgba(0, 0, 0, 0.541);

}
.mainCta button:hover{
    background-color: #978638;
    display:inline-block;
    padding: 8px 30px;
    color:rgb(255, 255, 255);
    border-radius:6px;
    font-size:16px;
    border:0;
    cursor:pointer;
    margin-top:25px;
    box-shadow:0px 4px 10px  rgba(0, 0, 0, 0.541);
    transition: 0.4s;

}
.diferenciais{
    display:flex;
    flex-wrap: wrap;
}

.diferencial-single{
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.192);
    width: 23%;
    margin-right: 2%;
    padding:50px 20px;
}

.diferencial-single i{
    color:#F9EDB7;
    font-size:23px;
    
    text-align: center;

}

.diferencial-single h2{
    color:#ffffff;
    margin:10px 0;
    font-size:17px;
    text-align: center;
    text-shadow: 2px 2px 2px black;

    
}
.diferencial-single p{
    color:rgb(214, 214, 214);
    font-size:14px;
    line-height: 30px;
    text-align:center;
    text-shadow: 2px 2px 2px black;
}

section.sobre{

    background: url(img/suit-monkey.jpg), url(img/suit-monkey2.png), black; 
    
    background-repeat: no-repeat;
    background-position: left, right;
    background-attachment: scroll, fixed;
    background-position-y: 100%;
    background-position-x: 10% , 100%;
}

.chamadaSobre{
    width:100%;
    text-align:center;
}

.chamadaSobre h2{
    color:#F9EDB7;
    text-transform: uppercase;
}

.chamadaSobre p{
    font-size:14px;
    color:rgb(255, 255, 255);
    margin:10px 0;
}

.conteudoSobre{
    display:flex;
    flex-wrap: wrap;

    width: 100%;
    height: 250px;

}
.conteudoSobre img{
    height: 100%;
    margin: 0 auto;
}



.conteudoSobre p{
    width: 48%;
    margin-right:2%;
    color:#ffffff;
}

.conteudoSobre span{
    display:inline-block;
    width: 100%;
    margin-top:10px;
}

.conteudoSobre i{
    color: #007bff;
}


.rodape{
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    
}

.socialIcons a{
    font-size: 1.5em;
    margin-right: 3%;
    color:rgba(255, 255, 255, 0.705);
}
.socialIcons a:last-child{
    margin-right:0;
}
.socialIcons a:hover{
    color:rgba(255, 255, 255, 1);

}
.copyright{
    color:rgba(255, 255, 255, 0.705);
    margin-top:2%
}

.logo a{
    text-decoration: none;
    color:white;
}
@media screen and (max-width:768px){

    .diferencial-single{
        width: 100% ;
        margin-bottom: 20px;
    }

    .menu{
        display:none; 
    }
    .logo{
        width: 20%;
    }
    .menuMobile{
        width: 80%;
        text-align: right;
        display:block;

    }
    .menuMobile i{
        cursor:pointer;
        font-size:23px;
        margin-top:8px;
        color:white;
    }
    .conteudoSobre p{ 
        width: 100%;
        margin:20px 20px;
    }

}

@media screen and(max-width:1167){

    section.sobre{
    background: url(img/suit-monkey.jpg), black;     
    background-repeat: no-repeat;
    background-position:  right;
    background-attachment:  fixed;
   
    }
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }